body {
    font-family: sans-serif;

    padding: 20px;
    background: #ffffff;
}

video {
    margin-top: 12px;
    width: 100%;
    border-radius:8px;
}

h3 {
  color: rgb(108, 107, 184);
  text-align: center;
  margin-bottom: 40px;
}

p {
    color: rgb(61, 59, 189);
    text-align: center;


}

h1 {
    color: rgb(61, 59, 189);
    text-align: center;
    font: impact, Haettenschweiler, sans-serif;
    font-size: 55px;
    margin-bottom: 25px;
}

h2{
  margin-top: 0px;
  color: rgb(25, 24, 75);
}

#photo {
    margin-top: 12px;
    width: 100%;
    border-radius: 8px;

}

.btn {
    align-items: center;
    background: #6273cf;
    border: 0px solid #ccc;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    margin-left: 0px;
    margin-top: 6px;
    opacity: .9;
    padding: 2px 18px;
    width: 100%;
}

.btn:hover {
    opacity: 1;
}

.clb {
    align-items: center;
    background: #1c8a60;
    border: 0px solid #ccc;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    margin-left: 0px;
    margin-top: 6px;
    opacity: .9;
    padding: 2px 18px;
    width: 100%;
}

.clb:hover {
    opacity: 1;
}

.result {
    margin-top: 3px;
    color: rgb(53, 51, 161);
}

#popup {
  display: none;              /* wird per JS auf block gesetzt */
  position: fixed;
  inset: 0;                   /* top, right, bottom, left = 0 */
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  /* Zentrieren */
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: rgb(202, 201, 236);
  padding: 12px 0px;
  border-radius: 12px;
  width: 90%;
  max-width: 420px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;

  animation: popupFadeIn 0.25s ease-out;
}

.popup-close {
  position: relative;
  top: 40%;
  right: -45%;
  font-size: 18px;
  cursor: pointer;
  color: #666;
}

.popup-close:hover {
  color: #000;
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.image-container {
    display: flex;
    gap: 8px;                 
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.camera-container,
.taken-upload-container {
    flex: 1;                   
    max-width: 50%;
    text-align: center;
    color :rgb(23, 22, 65);
    font-size: 17px;
}
