body {
    font-family: sans-serif;

    padding: 20px;
    background: radial-gradient(#dbfffe, #e8f3ff);
}

video {
    width: 45%;
    border-radius:8px;
}

p {
    color: black;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
    font: impact, Haettenschweiler, sans-serif;
    font-size: 36px;
}

h2{
  margin-top: 0px;
}

#photo {
    width: 45%;
    border-radius: 8px;

}

.btn {
    align-items: center;
    background: linear-gradient(90deg, #3070b3, #2060a3);
    border: 0px solid #ccc;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    margin-left: 0px;
    margin-top: 6px;
    opacity: .9;
    padding: 2px 18px;
    width: 100%;
}

.btn:hover {
    opacity: 1;
}

.clb {
    align-items: center;
    background: linear-gradient(90deg, #0b531d, #1b8e2e);
    border: 0px solid #ccc;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    margin-left: 0px;
    margin-top: 6px;
    opacity: .9;
    padding: 2px 18px;
    width: 100%;
}

.clb:hover {
    opacity: 1;
}

.result {
    margin-top: 3px;
    color: #073ba2;
}

#popup {
  display: none;              /* wird per JS auf block gesetzt */
  position: fixed;
  inset: 0;                   /* top, right, bottom, left = 0 */
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  /* Zentrieren */
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: #c5f2ff;
  padding: 12px 0px;
  border-radius: 12px;
  width: 90%;
  max-width: 420px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;

  animation: popupFadeIn 0.25s ease-out;
}

.popup-close {
  position: relative;
  top: 40%;
  right: -45%;
  font-size: 18px;
  cursor: pointer;
  color: #666;
}

.popup-close:hover {
  color: #000;
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
